<%if(locals.user){%>
    <form action="/news/search" method="POST" class="d-flex">
        <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
<br>

      <!--Filter button  -->
    
  <div class="container-fluid">
    <span class="badge badge-secondary">Filter</span>
    <a href="/news/all"class="btn btn-outline-primary">All</a>
      <a href="/news/International"class="btn btn-outline-secondary">International</a>
      <a href="/news/Sports"class="btn btn-outline-primary">Sports</a>
      <a href="/news/Buisness"class="btn btn-outline-primary">Buisness</a>
      <a href="/news/Technology"class="btn btn-outline-primary">Technology</a>
  </div>
  <br>
<!-- Sort button -->
<div class="container-fluid">
  <span class="badge badge-primary">Sort</span>
  <a href="/news/Popularity"class="btn btn-outline-success">Popular</a>
    <a href="/news/relevance"class="btn btn-outline-success">Relevance</a>
   
</div>
</div>

 <div style="display: flex;flex-wrap: wrap;">
    <% if(news.length>0){
                for (var i=0 ; i<news.length ; i++){ %>
                    <div class="card mx-3" style="width: 18rem;margin-top:20px;">
                        <img src="<%= news[i].urlToImage%>" class="card-img-top" alt="<%= news[i].title%>">
                       
                        <div class="card-body">
                            <h5 class="card-title"><%= news[i].title%></h5> <span class="badge badge-primary"><%=news[i].author%></span>
                            <p class="card-text"><%= news[i].description%></p> <small><%=news[i].publishedAt%></small>
                            <a target="_blank" href="<%= news[i].url%>" class="btn btn-outline-primary"> Read Article</a>
                          
                        </div>
                    </div>
            <%}}else{%>
<div class="container w-50 my-3" style="justify-content: center;align-items: center;height: 75vh;">

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><h4 class="alert-heading"><i class="fa fa-warning"></i> Warning!</h4></strong>Please enter a valid Query No Search Result Found On This Query : "<%=title %>"
    <hr>
    <P>Please Try with new query</P>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <button id="tryagain" class="btn btn-outline-primary">
          Try Again</button>
</div>
</div>
        <%}%>
    </div>
 <%}else{%>
    <h1>Please Login</h1>
    <a href="/sign-in" class="btn btn-outline-primary">Sign-in</a>
    <a href="/sign-up" class="btn btn-outline-primary">Sign-up</a>
    
    
   <%}%> 

